body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#politikaLayer1
{
   background-color: #FBFBFB;
   background-image: none;
   margin: 0;
}
#wb_politikaText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_politikaText1
{
   color: #000000;
   font-family: Gilroy;
   font-weight: normal;
   font-size: 13px;
}
#wb_politikaText1 div
{
   text-align: left;
}
#wb_uid0
{
   color: #000000;
}
#wb_politikaText1
{
   position: absolute;
   left: 16px;
   top: 13px;
   width: 1138px;
   height: 2580px;
   z-index: 0;
}
#politikaLayer1_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#politikaLayer1
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 2895px;
   float: left;
   clear: left;
   display: block;
   z-index: 1;
}
@media only screen and (max-width: 1169px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#politikaLayer1
{
   width: 320px;
   height: 2895px;
   visibility: visible;
   display: block;
   margin: 0;
}
#politikaLayer1
{
   margin: 0;
}
#politikaLayer1_Container
{
   width: 320px;
}
#politikaLayer1
{
    width: 100%;
    height: 2895px;
}
#wb_politikaText1
{
   left: 22px;
   top: 12px;
   width: 276px;
   height: 2870px;
   visibility: visible;
   display: inline;
}
#wb_politikaText1
{
   font-family: Gilroy;
   font-weight: normal;
   font-size: 9.3px;
   margin: 0;
   padding: 0;
   text-align: left;
}
}
