body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#indexLayer26
{
   background-color: #DCDCDC;
   background-image: none;
   margin: 0;
}
#wb_indexText70 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText70
{
   color: #201F20;
   font-family: "Montserrat";
   font-weight: 800;
   font-size: 64px;
}
#wb_indexText70 div
{
   text-align: center;
}
#wb_sertifikatyShape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#sertifikatyShape1
{
   top: 0px;
   width: 285px;
   height: 73px;
   background-color: #FFD712;
   background-image: none;
   border: 0px #FFD712 solid;
   border-radius: 40px;
}
#sertifikatyShape1:hover
{
   background-color: #FFA500;
   background-image: none;
   border: 0px #FFD712 solid;
}
#sertifikatyShape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0px;
   top: 0;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding: 0;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#sertifikatyShape1:hover span
{
   color: #4F4F4F !important;
}
#sertifikatyShape1 span:hover
{
   color: #4F4F4F !important;
}
#indexLayer39
{
   background-color: #202020;
   background-image: none;
   margin: 0;
}
#wb_indexText121 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText121
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 15px;
}
#wb_indexText121 div
{
   text-align: left;
}
#wb_indexText122 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText122
{
   color: #FFD712;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 15px;
}
#wb_indexText122 div
{
   text-align: left;
}
#wb_indexText123 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText123
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 12px;
}
#wb_indexText123 div
{
   text-align: left;
}
#wb_indexText124 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText124
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 12px;
}
#wb_indexText124 div
{
   text-align: left;
}
#wb_indexText32 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText32
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 12px;
}
#wb_indexText32 div
{
   text-align: center;
}
#sertifikatyPhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#sertifikatyPhotoGallery1 .thumbnails
{
   margin: 0;
}
#sertifikatyPhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   margin: 0;
   padding: 5px 5px 5px 5px;
   width: 50%;
   text-align: center;
   vertical-align: top;
}
#sertifikatyPhotoGallery1 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 15px;
}
#sertifikatyPhotoGallery1 .clearfix:before,
#sertifikatyPhotoGallery1 .clearfix:after,
#sertifikatyPhotoGallery1 .thumbnails:before,
#sertifikatyPhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#sertifikatyPhotoGallery1 .clearfix:after,
#sertifikatyPhotoGallery1 .thumbnails:after
{
   clear: both;
}
#sertifikatyPhotoGallery1 .visible-col2
{
   display: block;
}
#indexPhotoGallery3
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#indexPhotoGallery3 .thumbnails
{
   margin: 0;
}
#indexPhotoGallery3 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   margin: 0;
   padding: 5px 5px 5px 5px;
   width: 16.66666667%;
   text-align: center;
   vertical-align: top;
}
#indexPhotoGallery3 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 15px;
}
#indexPhotoGallery3 .clearfix:before,
#indexPhotoGallery3 .clearfix:after,
#indexPhotoGallery3 .thumbnails:before,
#indexPhotoGallery3 .thumbnails:after
{
   display: table;
   content: " ";
}
#indexPhotoGallery3 .clearfix:after,
#indexPhotoGallery3 .thumbnails:after
{
   clear: both;
}
#indexPhotoGallery3 .visible-col6
{
   display: block;
}
#wb_uid5
{
   color: #FFFFFF;
}
#wb_uid4
{
   color: #FFFFFF;
}
#indexLayer39_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#indexLayer26_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_indexText123
{
   position: absolute;
   left: 4px;
   top: 9px;
   width: 193px;
   height: 17px;
   z-index: 6;
}
#wb_uid3
{
   color: #FFD712;
}
#wb_sertifikatyShape1
{
   position: absolute;
   left: 443px;
   top: 708px;
   width: 285px;
   height: 73px;
   z-index: 1;
}
#wb_indexText122
{
   position: absolute;
   left: 1019px;
   top: 8px;
   width: 145px;
   height: 19px;
   z-index: 5;
}
#wb_uid2
{
   color: #FFFFFF;
}
#wb_indexText121
{
   position: absolute;
   left: 840px;
   top: 8px;
   width: 175px;
   height: 19px;
   z-index: 4;
}
#wb_uid1
{
   color: #2D2D2D;
   font-family: "Montserrat";
   font-weight: 600;
   font-size: 13px;
}
#wb_uid0
{
   color: #201F20;
}
#indexLayer26
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 882px;
   float: left;
   clear: left;
   display: block;
   z-index: 9;
}
#indexLayer39
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 58px;
   float: left;
   clear: left;
   display: block;
   z-index: 10;
}
#wb_indexPhotoGallery3
{
   position: absolute;
   left: 29px;
   top: 164px;
   width: 1112px;
   height: 509px;
   z-index: 3;
}
#wb_indexText32
{
   position: absolute;
   left: 471px;
   top: 9px;
   width: 229px;
   height: 17px;
   text-align: center;
   z-index: 8;
}
#wb_indexText124
{
   position: absolute;
   left: 4px;
   top: 28px;
   width: 167px;
   height: 17px;
   z-index: 7;
}
#wb_indexText70
{
   position: absolute;
   left: 29px;
   top: 49px;
   width: 1112px;
   height: 88px;
   text-align: center;
   z-index: 0;
}
#wb_sertifikatyPhotoGallery1
{
   position: absolute;
   left: 77px;
   top: 235px;
   width: 153px;
   height: 607px;
   visibility: hidden;
   z-index: 2;
}
#wb_uid6
{
   color: #FFFFFF;
}
@media only screen and (max-width: 1169px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#indexLayer26
{
   width: 320px;
   height: 1332px;
   visibility: visible;
   display: block;
   margin: 0;
}
#indexLayer26
{
   left: 0%;
   margin: 0;
}
#indexLayer26_Container
{
   width: 320px;
}
#indexLayer26
{
    width: 100%;
    height: 1332px;
}
#wb_indexText70
{
   left: 64px;
   top: 38px;
   width: 168px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#wb_indexText70
{
   font-family: "Montserrat";
   font-weight: 800;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_sertifikatyShape1
{
   left: 30px;
   top: 1235px;
   width: 260px;
   height: 58px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#sertifikatyShape1
{
   width: 260px;
   height: 58px;
}
#indexLayer39
{
   width: 320px;
   height: 144px;
   visibility: visible;
   display: block;
   margin: 0;
}
#indexLayer39
{
   left: 0%;
   margin: 0;
}
#indexLayer39_Container
{
   width: 320px;
}
#indexLayer39
{
    width: 100%;
    height: 144px;
}
#wb_indexText121
{
   left: 73px;
   top: 93px;
   width: 175px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_indexText121
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText122
{
   left: 88px;
   top: 111px;
   width: 145px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_indexText122
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText123
{
   left: 64px;
   top: 9px;
   width: 193px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_indexText123
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText124
{
   left: 77px;
   top: 27px;
   width: 167px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_indexText124
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText32
{
   left: 46px;
   top: 59px;
   width: 229px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_indexText32
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_sertifikatyPhotoGallery1
{
   left: 27px;
   top: 76px;
   width: 266px;
   height: 1079px;
   visibility: visible;
   display: inline;
   margin: 0;
   color: #000000;
}
#sertifikatyPhotoGallery1 .thumbnail
{
   width: 50%;
}
#sertifikatyPhotoGallery1 .visible-col2
{
   display: block;
}
#wb_indexPhotoGallery3
{
   left: 0px;
   top: 129px;
   width: 266px;
   height: 115px;
   visibility: hidden;
   display: none;
   margin: 0;
   color: #000000;
}
#indexPhotoGallery3 .thumbnail
{
   width: 16.66666667%;
}
#indexPhotoGallery3 .visible-col6
{
   display: block;
}
}
