body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#thanksLayer1
{
   background-color: transparent;
   background-image: url('../images/t454545.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   margin: 0;
}
#wb_indexShape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#indexShape1
{
   width: 10px;
   height: 10px;
   background-color: #32CD32;
   background-image: none;
   border: 0px #0963AD solid;
   border-radius: 5px / 5px;
}
#wb_indexText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText4
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 12px;
}
#wb_indexText4 div
{
   text-align: left;
}
#wb_indexText5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText5
{
   color: #FFFFFF;
   font-family: "Montserrat";
   font-weight: 600;
   font-size: 24px;
}
#wb_indexText5 div
{
   text-align: left;
}
#indexLayer10
{
   background-color: #25D231;
   background-image: none;
   border-radius: 50px;
}
#wb_indexImage6
{
   vertical-align: top;
}
#indexImage6
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexLayer9
{
   background-color: #00A2F2;
   background-image: none;
   border-radius: 50px;
}
#wb_indexImage5
{
   vertical-align: top;
}
#indexImage5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexLayer8
{
   background-color: #7460F3;
   background-image: none;
   border-radius: 50px;
}
#wb_indexImage4
{
   vertical-align: top;
}
#indexImage4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexImage2
{
   vertical-align: top;
}
#indexImage2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText1
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
}
#wb_indexText1 div
{
   text-align: left;
}
#wb_indexText10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText10
{
   color: #FFFFFF;
   font-family: "Montserrat";
   font-weight: 800;
   font-size: 43px;
}
#wb_indexText10 div
{
   text-align: center;
}
#wb_thanksImage1
{
   vertical-align: top;
}
#thanksImage1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_thanksImage2
{
   vertical-align: top;
}
#thanksImage2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_thanksImage3
{
   vertical-align: top;
}
#thanksImage3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_thanksText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_thanksText1
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 32px;
}
#wb_thanksText1 div
{
   text-align: center;
}
#wb_thanksText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_thanksText2
{
   color: #FFFFFF;
   font-family: "Montserrat";
   font-weight: 600;
   font-size: 24px;
}
#wb_thanksText2 div
{
   text-align: center;
}
#wb_thanksText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_thanksText3
{
   color: #FFFFFF;
   font-family: "Montserrat";
   font-weight: 600;
   font-size: 24px;
}
#wb_thanksText3 div
{
   text-align: center;
}
#wb_indexShape14
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#indexShape14
{
   top: 0px;
   width: 330px;
   height: 69px;
   background-color: #FFD712;
   background-image: none;
   border: 0px #FFD712 solid;
   border-radius: 40px;
}
#indexShape14:hover
{
   background-color: #FFD712;
   background-image: none;
   border: 0px #FFD712 solid;
}
#indexShape14_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0px;
   top: 0;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding: 0;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#indexShape14:hover span
{
   color: #4F4F4F !important;
}
#indexShape14 span:hover
{
   color: #4F4F4F !important;
}
#indexLayer39
{
   background-color: #202020;
   background-image: none;
   margin: 0;
}
#wb_indexText121 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText121
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
}
#wb_indexText121 div
{
   text-align: left;
}
#wb_indexText122 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText122
{
   color: #FFD712;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
}
#wb_indexText122 div
{
   text-align: left;
}
#wb_thanksText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_thanksText4
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
}
#wb_thanksText4 div
{
   text-align: left;
}
#wb_indexText124 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText124
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
}
#wb_indexText124 div
{
   text-align: left;
}
#wb_indexText32 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText32
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
}
#wb_indexText32 div
{
   text-align: center;
}
#wb_thanksText5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_thanksText5
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 13px;
}
#wb_thanksText5 div
{
   text-align: center;
}
#wb_uid12
{
   color: #FFFFFF;
}
#wb_uid5
{
   color: #FFFFFF;
}
#wb_uid13
{
   color: #FFD712;
}
#indexLayer39_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_indexShape14
{
   position: absolute;
   left: 690px;
   top: 540px;
   width: 330px;
   height: 69px;
   z-index: 18;
}
#wb_uid4
{
   color: #FFFFFF;
}
#wb_uid10
{
   color: #FFFFFF;
}
#wb_uid3
{
   color: #FFFFFF;
}
#wb_indexText122
{
   position: absolute;
   left: 1053px;
   top: 18px;
   width: 117px;
   height: 14px;
   z-index: 27;
}
#wb_uid11
{
   color: #FFFFFF;
}
#wb_uid2
{
   color: #FFFFFF;
}
#wb_indexText121
{
   position: absolute;
   left: 925px;
   top: 18px;
   width: 125px;
   height: 14px;
   z-index: 23;
}
#wb_uid1
{
   color: #FFFFFF;
}
#indexLayer10
{
   position: absolute;
   text-align: left;
   left: 841px;
   top: 55px;
   width: 40px;
   height: 40px;
   z-index: 3;
}
#wb_uid0
{
   color: #FFFFFF;
}
#thanksLayer1
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 100vh;
   float: left;
   display: inline-block;
   z-index: 28;
}
#indexLayer39
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 53px;
   float: left;
   clear: left;
   display: block;
   z-index: 29;
}
#wb_thanksImage1
{
   position: absolute;
   left: 550px;
   top: 213px;
   width: 70px;
   height: 70px;
   z-index: 12;
}
#wb_indexText10
{
   position: absolute;
   left: 115px;
   top: 319px;
   width: 940px;
   height: 58px;
   text-align: center;
   z-index: 11;
}
#wb_indexText1
{
   position: absolute;
   left: 151px;
   top: 49px;
   width: 140px;
   height: 42px;
   z-index: 7;
}
#wb_thanksImage2
{
   position: absolute;
   left: 183px;
   top: 544px;
   width: 66px;
   height: 65px;
   z-index: 13;
}
#wb_indexText32
{
   position: absolute;
   left: 471px;
   top: 18px;
   width: 229px;
   height: 14px;
   text-align: center;
   z-index: 26;
}
#wb_thanksImage3
{
   position: absolute;
   left: 274px;
   top: 544px;
   width: 66px;
   height: 65px;
   z-index: 15;
}
#wb_indexText124
{
   position: absolute;
   left: 4px;
   top: 26px;
   width: 167px;
   height: 14px;
   z-index: 25;
}
#wb_indexText4
{
   position: absolute;
   left: 950px;
   top: 35px;
   width: 214px;
   height: 17px;
   z-index: 10;
}
#wb_indexImage2
{
   position: absolute;
   left: 0px;
   top: 24px;
   width: 102px;
   height: 98px;
   z-index: 6;
}
#wb_indexImage4
{
   position: absolute;
   left: 13px;
   top: 12px;
   width: 15px;
   height: 17px;
   z-index: 2;
}
#wb_indexImage5
{
   position: absolute;
   left: 12px;
   top: 14px;
   width: 16px;
   height: 13px;
   z-index: 1;
}
#wb_indexImage6
{
   position: absolute;
   left: 12px;
   top: 12px;
   width: 16px;
   height: 16px;
   z-index: 0;
}
#wb_indexText5
{
   position: absolute;
   left: 933px;
   top: 54px;
   width: 214px;
   height: 33px;
   z-index: 9;
   cursor: pointer;
}
#wb_thanksText4
{
   position: absolute;
   left: 4px;
   top: 9px;
   width: 193px;
   height: 14px;
   z-index: 24;
}
#wb_thanksText5
{
   position: absolute;
   left: 979px;
   top: 87px;
   width: 142px;
   height: 18px;
   text-align: center;
   z-index: 19;
   cursor: pointer;
}
#wb_thanksText3
{
   position: absolute;
   left: 691px;
   top: 464px;
   width: 329px;
   height: 66px;
   text-align: center;
   z-index: 17;
}
#wb_thanksText2
{
   position: absolute;
   left: 151px;
   top: 464px;
   width: 220px;
   height: 66px;
   text-align: center;
   z-index: 16;
}
#wb_thanksText1
{
   position: absolute;
   left: 90px;
   top: 371px;
   width: 990px;
   height: 44px;
   text-align: center;
   z-index: 14;
}
#indexLayer8
{
   position: absolute;
   text-align: left;
   left: 742px;
   top: 55px;
   width: 40px;
   height: 40px;
   z-index: 5;
}
#thanksLayer1_Container
{
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_uid9
{
   color: #FFFFFF;
}
#indexLayer9
{
   position: absolute;
   text-align: left;
   left: 792px;
   top: 55px;
   width: 40px;
   height: 40px;
   z-index: 4;
}
#wb_uid8
{
   color: #FFFFFF;
}
#wb_uid7
{
   color: #2D2D2D;
   font-family: "Montserrat";
   font-weight: 600;
   font-size: 13px;
}
#wb_indexShape1
{
   position: absolute;
   left: 937px;
   top: 37px;
   width: 10px;
   height: 10px;
   z-index: 8;
}
#wb_uid6
{
   color: #FFFFFF;
}
@media only screen and (max-width: 1169px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#thanksLayer1
{
   height: 688px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#thanksLayer1
{
   width: 100%;
   margin: 0;
}
#thanksLayer1_Container
{
   width: 320px;
}
#thanksLayer1
{
    width: 100%;;
    height: 100vh;
}
#wb_indexShape1
{
   left: 68px;
   top: 13px;
   width: 6px;
   height: 6px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#indexShape1
{
   width: 6px;
   height: 6px;
}
#wb_indexText4
{
   left: 76px;
   top: 12px;
   width: 147px;
   height: 11px;
   visibility: visible;
   display: inline;
}
#wb_indexText4
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 8px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_indexText5
{
   left: 71px;
   top: 21px;
   width: 147px;
   height: 22px;
   visibility: visible;
   display: inline;
}
#wb_indexText5
{
   font-family: "Montserrat";
   font-weight: 600;
   font-size: 16px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#indexLayer10
{
   left: 293px;
   top: 12px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#wb_indexImage6
{
   left: 7px;
   top: 5px;
   width: 10px;
   height: 10px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#indexLayer9
{
   left: 264px;
   top: 12px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#wb_indexImage5
{
   left: 8px;
   top: 5px;
   width: 10px;
   height: 7px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#indexLayer8
{
   left: 235px;
   top: 12px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#wb_indexImage4
{
   left: 7px;
   top: 7px;
   width: 10px;
   height: 11px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_indexImage2
{
   left: 0px;
   top: 5px;
   width: 47px;
   height: 45px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_indexText1
{
   left: 60px;
   top: 17px;
   width: 140px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_indexText1
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 9.3px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_indexText10
{
   left: 30px;
   top: 197px;
   width: 261px;
   height: 58px;
   visibility: visible;
   display: inline;
}
#wb_indexText10
{
   font-family: "Montserrat";
   font-weight: 800;
   font-size: 21px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_thanksImage1
{
   left: 135px;
   top: 134px;
   width: 50px;
   height: 50px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_thanksImage2
{
   left: 96px;
   top: 589px;
   width: 44px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_thanksImage3
{
   left: 177px;
   top: 589px;
   width: 44px;
   height: 44px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_thanksText1
{
   left: 19px;
   top: 255px;
   width: 283px;
   height: 50px;
   visibility: visible;
   display: inline;
}
#wb_thanksText1
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_thanksText2
{
   left: 50px;
   top: 539px;
   width: 220px;
   height: 50px;
   visibility: visible;
   display: inline;
}
#wb_thanksText2
{
   font-family: "Montserrat";
   font-weight: 800;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_thanksText3
{
   left: 41px;
   top: 386px;
   width: 238px;
   height: 50px;
   visibility: visible;
   display: inline;
}
#wb_thanksText3
{
   font-family: "Montserrat";
   font-weight: 800;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexShape14
{
   left: 32px;
   top: 459px;
   width: 260px;
   height: 58px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#indexShape14
{
   width: 260px;
   height: 58px;
}
#indexLayer39
{
   width: 320px;
   height: 110px;
   visibility: visible;
   display: block;
   margin: 0;
}
#indexLayer39
{
   left: 0%;
   margin: 0;
}
#indexLayer39_Container
{
   width: 320px;
}
#indexLayer39
{
    width: 100%;
    height: 110px;
}
#wb_indexText121
{
   left: 73px;
   top: 76px;
   width: 175px;
   height: 14px;
   visibility: visible;
   display: inline;
}
#wb_indexText121
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText122
{
   left: 88px;
   top: 90px;
   width: 145px;
   height: 14px;
   visibility: visible;
   display: inline;
}
#wb_indexText122
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_thanksText4
{
   left: 64px;
   top: 8px;
   width: 193px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_thanksText4
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText124
{
   left: 77px;
   top: 26px;
   width: 167px;
   height: 14px;
   visibility: visible;
   display: inline;
}
#wb_indexText124
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_indexText32
{
   left: 46px;
   top: 48px;
   width: 229px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_indexText32
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_thanksText5
{
   left: 78px;
   top: 50px;
   width: 142px;
   height: 18px;
   visibility: hidden;
   display: none;
}
#wb_thanksText5
{
   font-family: Montserrat;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
}
}
